{% macro print(vars) %}
    let variables = Some(json!({
{%- if vars -%}
  {% for v in vars %}
    "{{ v.name }}": {% if v.reference_value -%}
      ctx.result_map(
          "{{ v.reference_value }}", 
          {% if v.overwrite %}Some(serde_json::from_value::<serde_json::Map<String, serde_json::Value>>(json!({{ v.overwrite | json_encode(pretty=false) | safe }}))?){% else %}None{% endif %}
        )?{% if not loop.last %},{% endif %}
    {%- elif v.reference_value_property -%}
      ctx.result_value("{{ v.reference_value_property }}")?{% if not loop.last %},{% endif %}
    {%- elif v.yaml_value -%}
      {{ v.yaml_value | json_encode(pretty=false) | safe }}{% if not loop.last %},{% endif %}
    {%- elif v.json_value -%}
      {{ v.json_value | json_encode(pretty=false) | safe }}{% if not loop.last %},{% endif %}
    {%- elif v.literal_value -%}{{ v.literal_value }}{%- if not loop.last %},{% endif -%}
    {% endif %}
    
  {%- endfor -%}
{%- endif %}
    }));
{% endmacro print %}
